@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Providence";
  src: local("Providence"), url("./fonts/Providence.ttf") format("truetype");
}

body {
  font-family: "Providence";
  color: #555;
  background-color: #efefef;
}

tr:nth-child(even) {
  color: #fff;
  background-color: #fa9254;
}

td {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 14px;
  padding-bottom: 14px;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  @apply text-xl;
}
